

*{
    color: #b61817;
    background-color: #0c090a;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar {
    display: flex;
    justify-content:space-around;
    align-items: center;
    background-color: #b61817;
    margin: 30px;
}
.logo {
    height: 70px;
    width: auto;
}
.ako {
    height: 250px;
    width: auto;
    margin-top: 30px;
    margin-left: 50px;
    display: flex;
}
.navbar a:hover {
    background-color:#0c090a;
    padding: 20px 20px;
}
.navbar a:hover {
    color:#d0b3a9;
    transform: translateY(-2px);
}
a {text-decoration: #d0b3a9;
    color:#0c090a;
    background-color: #b61817;
    margin-inline: 2rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight:bolder;
    font-size:large;
}
.header-section {
    position:relative;
    width: 100%;
height: 400px;
background:url(/assets/img/ShaiMatala2\ \(1\).jpg)no-repeat center/cover;
background-size: cover;
background-position: center;
display:flex;
justify-content: right;
align-items: center;
color: #b61817;
text-align: center;
padding: 0 2rem;
margin-bottom: 30px;
}

h1 { font-family:sans-serif;
    font-weight:900;
    font-size:xx-large;
    margin-bottom: 1px;
    margin-top: 1px;
    margin-left:50px;
}
h4  { color: #d0b3a9;
    font-family: 'Courier New', Courier, monospace;
    font-weight:bolder;
    font-size:medium;
    margin:1;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 50px;
}
h3 { color: #d0b3a9;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size:large;
    margin-top: 0;
    margin-bottom: 5px;
    margin-left: 50px;
}
p { color: #d0b3a9;
    font-family: 'Courier New', Courier, monospace;
    font-weight:bold;
    font-size:small;
    margin:1;
    margin-top: 0;
    margin-bottom: 25px;
    margin-left: 50px;
}
h6 { color:#d0b3a9;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size:medium;
    margin-left:50px;
    margin-top: 10px;
    margin-bottom: 10px;
}
h7 { color: #b61817;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: medium;
    margin-left: 25px;
}
h8 { color: #b61817;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: medium;
    margin-left: 300px ;
}
h9 {font-family:sans-serif;
    font-weight:900;
    font-size:xx-large;
    margin-bottom: 1px;
    margin-top: 1px;
    margin-left:700px;
}
h10 {  color: #b61817;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: x-large;
    margin-left: 200px;
}
h11{ font-family:sans-serif;
    font-weight:900;
    font-size:xx-large;
    margin-left:15px;
    display: flex;
    justify-content:first baseline;
}