

.bgart {
    background-image:url("/assets/img/bgfinal.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    opacity: 50%;

}
*{
    color: #b61817;
    background-color: #0c090a;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content:space-around;
    align-items: center;
    background-color: #b61817;
    margin: 30px;
}

.logo {
    height: 70px;
    width: auto;
}
.navbar a:hover {
    background-color:#0c090a;
    padding: 10px 10px;
}
.navbar a:hover {
    color:#d0b3a9;
    transform: translateY(-1px);
}
a {text-decoration: #d0b3a9;
    color:#0c090a;
    background-color: #b61817;
    margin-inline: 2rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight:bolder;
    font-size:large;
}
.cont0 {
    display: flex;
    column-gap: 10 px;
    margin: 3rem 7rem;
}

.header-section {
    position:relative;
    width: 100%;
height: 400px;
background:url(/assets/img/ShaiMatala2\ \(1\).jpg)no-repeat center/cover;
background-size: cover;
background-position: center;
display:flex;
justify-content:left;
align-items: center;
color: #b61817;
word-spacing: 5px;
text-align:left;
padding: 0 2rem;
margin-bottom: 30px;
}

h1 { font-family:sans-serif;
    font-weight:900;
    font-size:xx-large;
    margin-bottom: 1px;
    margin-top: 1px;
    margin-left:50px;
}


h4  { color: #d0b3a9;
    font-family: 'Courier New', Courier, monospace;
    font-weight:bolder;
    font-size:medium;
    margin:1;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 50px;
}
h3 { color: #d0b3a9;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size:large;
    margin-top: 0px;
    margin-bottom: 1px;
    margin-left: 50px;
}
p { color: #d0b3a9;
    font-family: 'Courier New', Courier, monospace;
    font-weight:bold;
    font-size:small;
    margin:1;
    margin-top: 0;
    margin-bottom: 25px;
    margin-left: 50px;
}
h6 { color:#d0b3a9;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size:medium;
    margin-left:50px;
    margin-top: 5px;
    margin-bottom: 10px;
}
h7 { color: #b61817;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size:large;
}
h8 { color: #b61817;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: large;
}
h9 {font-family:sans-serif;
    font-weight:900;
    font-size:xx-large;
    margin-bottom: 1px;
    margin-top: 1px;
    margin-left:700px;
}
h10 {  color: #b61817;
    font-family: sans-serif;
    font-weight: 900;
    font-size: x-large;
    margin-left: 200px;
}
h11{ font-family:sans-serif;
    font-weight:900;
    font-size:xx-large;
    margin-left:15px;
    display: flex;
    justify-content:first baseline;
}
.hero {
    display: flex;
    align-content: center;
    flex-direction: column;
    margin-top: 100px;
    background-color: transparent  ;
}
.container {
    display: flex;
    column-gap: 10 px;
    margin: 3rem 7rem;
    background-color: transparent ;

}
.educ2 {
    margin-top: 4.1rem;
}
.educ3 {
    margin-top: 4.1rem;
}

.cont2 {
    display: flex;
    column-gap: 10 px;
    margin: 3rem 7rem;
    background-color:  transparent;
}
.achie1 {
    h1 { margin-bottom: 10px;}
}
.achie2 {
    margin-top: 2.8rem;
}
.cont3 {
    display: flex;
    column-gap: 30 px;
    margin: 3rem 7rem;
    margin-left: 200px;
    background-color: transparent ;
}
.hard {
    h4 {
        margin-left: 14px;
    }
}
.soft {
    margin-left: 23rem;
    h4 {
        margin-left: 14px;
    }
}
.cont5 {
    margin-left: 310px;
    position:relative;
    width: 100%;
height: 200px;
background-color:transparent;
background-size: cover;
background-position: center;
display:flex;
justify-content:left;
align-items: center;
word-spacing: 5px;
padding: 0 2rem;
margin-bottom: 30px;
h10 { font-size: xx-large;
margin-left: 80px;}
}
.Ig {
    display: flex;
    align-content: center;
    flex-direction: column;
    margin-left: 498px;
    margin-top: -30px;
}
.email {
    display: flex;
    align-content: center;
    flex-direction: column;
    margin-left: 500px;
    margin-top: 25px;
}
.fb {
    display: flex;
    align-content: center;
    flex-direction: column;
    margin-left: 500px;
    margin-top: 25px;
}
